<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



{% for event in events %}
<table>
    ES 1) home page with proper table (inc. name, location, filtering by uni, etc.)
    DB 2) view event page (list of listings, link to create a listing for this event)
    BO 3) profile page (active listings)
    PG 4) view listing page (with buy options and link to user profile)


    <a href="/ticketswap/event/{{ event.id }}/update" target="_blank"> {{ event.name }}</a>
</table>
{% endfor %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
