<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <br>
  {% for event in events %}
  <table>
    <tr>
      <th><img src="{{event.cover.url}}" alt="pic" height=200px width=300px></th>
    </tr>
    <tr>
      <th><a href="/ticketswap/event/{{ event.id }}/listings"> {{ event.name }}</a></th>
    </tr>
    <tr>
      <th>Location: {{ event.location }}</th>
      <br>
    </tr>

    
</table>
{% endfor %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
