{% extends 'base.html' %}

{% block title %}Listing for object.event.name{% endblock %}

{% block content %}
<h3>{{ object.event.name }}</h2>
<ul>
    <li>{{ object.event.name }}</li>
    <li>{{ object.event.location }}</li>
    <li>{{ object.event.date }}</li>

</ul>

<h3>Ticket info</h2>
<ul>
    <li>Seller: {{ object.user.username }}</li>
    <li>Price: ${{ object.price }}</li>
    <li>Quantity available: {{ object.quantity }}</li>
    <li>Contact: {{ object.user.email }}</li>
    <li>Venmo: {{ object.user.venmo }}</li>
    <li>Description: {{ object.description }}</li>
    <li>Posted On: {{ object.pub_date }}</li>

</ul>

<h3>Purchase</h2>

  <p>To purchase this ticket, venmo {{ object.user.username }} ${{ object.price }} to the venmo: {{ object.user.venmo }}</p>
  <p>You can email {{ object.user.username }} at {{ object.user.email }} to discuss the price or message the user using the button below</p>
  <a href="/ticketswap/message/create/"> New Message </a>
  <br>
  
  {% if listing.user == user %}
    
  <p>Delete this listing: <a href="/ticketswap/listing/{{ object.id }}/delete"> delete</a> </p>

  {% endif %}
<!-- <form action="/ticketswap/listing/{{ object.id }}/purchase" method="post">
    <label for="quantity">Quantity</label>

    <input type="text" name="quantity" 
    {% if object.quantity == 1 %}
      placeholder="1"
    {% else %}
      placeholder="1 - {{ object.quantity }}"
    {% endif %}
    id="quantity" required>

    <br>
    <button class="btn btn-primary" type="submit">Buy</submit>
</form> -->
{% endblock %}
