<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <br>
    You are registered at {{ user.university }}
    <br>
    Your venmo is {{ user.venmo }}
    <br>
    <a href="{% url 'logout' %}">Log Out</a>
    <br>
    <a href="/ticketswap/user/{{ user.pk }}/update">Update Profile</a>
    <br>
    <a href="/ticketswap/accounts/password_change">Change Password</a>
    <br>
    <a href="/ticketswap/user/{{ user.pk }}/delete">Delete Profile</a>
    <br>
     
    Your listings:
    <br>
    <br>
    {% for listing in listings %}
        {% if listing.user == user %}

        <table>
        
            <a href="/ticketswap/listing/{{ listing.id }}/detail"> {{ listing.user }} - ${{ listing.price }} - Quantity: {{ listing.quantity }}</a>
        </table>
        {% endif %}
    {% endfor %}
    <br>

    <a href="/ticketswap/message/create/"> New Message </a>
    <br>
    Your messages:
    <br>
    <br>

    {% for message in chats %}
        {% if message.sender == user %}
        <table>
          From: {{ message.sender }}
          <br>
          To: {{ message.receiver }}
          <br>
          Date Sent: {{ message.pub_date }}
          <br>
          Message:
          <br>
          {{ message.message }}
          <br>
          <br>
        </table>
        {% endif %}

        {% if message.receiver == user %}
        <table>
          From: {{ message.sender }}
          <br>
          To: {{ message.receiver }}
          <br>
          Date Sent: {{ message.pub_date }}
          <br>
          Message:
          <br>
          {{ message.message }}
          <br>
          <br>

        </table>
        {% endif %}
    {% endfor %}


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

<br>


{% endblock %}
